/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-custom-fuchsia text-white flex flex-col h-screen items-center justify-center;
}

.logincontainer {
    @apply max-w-xl w-full p-10 bg-custom-blue-2 rounded-lg shadow-2xl shadow-cyan-950 text-xl mt-44; 
}

.icon {
    @apply w-24 h-24 mx-auto mb-2;
}

.headingText {
    @apply text-4xl font-semibold mb-4 text-center uppercase;
}

.loginForm {
    @apply space-y-4;
}

.formfield {
    @apply w-full px-4 py-3 rounded-lg bg-custom-blue text-gray-200 placeholder-gray-400 focus:ring-emerald-200 focus:ring-2 focus:outline-none;
}

.error {
    @apply text-red-500 text-center mt-2;
}

p {
    @apply mt-4 text-center text-gray-300;
}

a {
    @apply text-emerald-200 hover:text-emerald-500;
}

.selectfield {
    @apply w-full px-4 py-3 rounded-lg bg-custom-blue text-gray-200 placeholder-gray-400 focus:ring-emerald-200 focus:ring-2 focus:outline-none appearance-none;
}

.selectfield::-ms-expand {
    display: none;
}

.selectfield:focus {
    outline: none;
}

.selectfield::after {
    content: '\f078'; /* Font Awesome chevron-down icon */
    font-family: 'Font Awesome 5 Free'; /* Make sure you have Font Awesome included */
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #e5e7eb; /* Light gray color */
    pointer-events: none;
}

.submit-button {
    @apply w-full py-3 px-4 rounded-lg bg-emerald-500 text-white font-semibold text-lg hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-300 transition duration-200 ease-in-out;
    border: none;
    cursor: pointer;
}

.submit-button:disabled {
    @apply bg-gray-400 cursor-not-allowed;
}

.container {
    @apply max-w-3xl w-full p-6 bg-custom-blue-2 rounded-lg shadow-2xl text-center shadow-custom-teal;
}

h2 {
    @apply font-bold mb-6 text-4xl text-center;
}

.button-group {
    @apply flex flex-col space-y-4;
}

.button {
    @apply px-6 py-3 rounded-lg bg-emerald-500 text-white font-semibold text-lg hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-300 transition duration-200 ease-in-out;
}

.button:hover {
    @apply bg-emerald-600;
}

.navbar {
    @apply p-4 shadow-md fixed top-0 left-0 w-full z-10 flex items-center justify-between;
    background: rgba(42, 255, 42, 0.102); 
    backdrop-filter: blur(5px); 
    border-bottom: 1px solid rgba(4, 255, 0, 0.2);
}

.navbar-brand {
    @apply text-4xl font-bold text-white flex items-center;
}

.app-icon {
    @apply w-16 h-16 mr-4; 
}

.navbar-links {
    @apply flex space-x-4;
}

.navbar-link {
    @apply text-white px-4 py-2 font-medium rounded-md transition duration-200 ease-in-out text-xl;
}


.main-content {
    @apply flex-grow flex flex-col items-center justify-center p-6 pt-144 mt-144;
}

.heading {
    @apply text-4xl font-bold mb-6 text-center;
}

.user-info {
    @apply text-center mb-6;
}

.user-role {
    @apply text-lg font-medium mb-2;
}

.greeting {
    @apply text-lg;
}
.file-input-container {
    @apply relative; /* Positioning context for the label */
}

.file-label {
    @apply block w-full px-4 py-3 rounded-lg bg-custom-blue text-gray-200 flex items-center justify-between cursor-pointer;
}

.file-input {
    @apply absolute inset-0 opacity-0 cursor-pointer; /* Hide the default file input */
}

.file-label::before {
    content: "Doctor license file"; /* Placeholder text */
    @apply absolute inset-0 flex items-center pl-4 text-gray-500;
}

.chat-container {
    @apply w-full max-w-screen-xl bg-custom-blue rounded-lg p-4 flex flex-col shadow-lg shadow-custom-teal
}

.chat-header {
    @apply text-center font-bold text-xl mb-4;
}

.chat-messages {
    @apply flex flex-col space-y-2 flex-grow overflow-y-auto mb-4;
    height: 400px;
}

.message {
    @apply p-2 rounded-lg shadow;
}

.user-message {
    @apply bg-blue-500 text-white self-end;
}

.bot-response {
    @apply bg-emerald-800 self-start;
}

.chat-input {
    @apply flex;
}

.input-field {
    @apply flex-grow p-2 rounded-l-lg border border-gray-300 focus:outline-none bg-custom-gray-blue;
}

.send-button {
    @apply bg-blue-500 text-white p-2 rounded-r-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.container {
    @apply max-w-3xl w-full p-6 bg-custom-blue rounded-lg shadow-lg;
}

.page-title {
    @apply text-2xl font-bold mb-4 text-center;
}

.search-form {
    @apply flex flex-col sm:flex-row items-center justify-between mb-4
}

.search-input {
    @apply flex-grow mb-2 sm:mb-0 sm:mr-2 p-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 bg-custom-gray-blue;
}

.search-select {
    @apply mb-2 sm:mb-0 sm:mr-2 p-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 bg-custom-gray-blue;
}

.search-button {
    @apply p-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.results {
    @apply space-y-4;
}

.doctor-card {
    @apply p-4 bg-emerald-900 rounded shadow-xl;
}

.doctor-name {
    @apply text-lg font-bold mb-2;
}

.doctor-email, .doctor-speciality {
    @apply mb-2;
}

.no-results {
    @apply text-center text-gray-500;
}

.make-appointment {
    @apply p-2 text-black rounded hover:bg-emerald-500  bg-emerald-300 shadow-lg;

}

.messages {
    @apply mt-4;
}

.alert {
    @apply mb-2 p-2 rounded;
}

.alert-success {
    @apply bg-green-100 text-green-700;
}

.alert-error {
    @apply bg-red-100 text-red-700;
}

.page-title {
    @apply text-2xl font-bold mb-4 text-center;
}

.upload-form {
    @apply flex flex-col items-center justify-between mb-4;
}

.upload-input {
    @apply mb-2 p-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.upload-button {
    @apply p-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.file-text {
    @apply p-2 rounded border border-gray-300;
}
.video-container {
    @apply flex justify-center items-center relative w-4/5 h-3/5 bg-black rounded-lg overflow-hidden;
}

video {
    @apply w-full h-full object-cover;
}

#localVideo {
    @apply absolute top-2.5 right-2.5 w-48 h-36 border-2 border-white rounded-lg z-10;
}

.controls {
    @apply mt-5 flex justify-center gap-5;
}

.control-button {
    @apply py-2 px-4 border-none rounded-lg bg-green-500 text-white text-base cursor-pointer flex items-center gap-2;
}

.control-button i {
    @apply text-lg;
}

.control-button.end-call {
    @apply bg-red-500;
}

.control-button:hover {
    @apply opacity-90;
}

.heading {
    @apply text-2xl mb-5;
}

.user-info {
    @apply mb-5;
}

.user-role {
    @apply font-bold text-green-500;
}

.greeting {
    @apply text-lg;
}

.report-section {
    @apply mt-5;
}

.reports-list {
    @apply flex flex-col gap-5;
}

.report-card {
    @apply p-4 bg-emerald-950 border border-gray-300 rounded-lg;
}

.report-card p {
    @apply my-1;
}

.report-card a {
    @apply text-blue-500 no-underline;
}

.report-card a:hover {
    @apply underline;
}
.report-text{
    @apply mb-2 text-left
}