{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Welcome to the Home Page</h2>
    {% csrf_token %}
{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    <a href="/upload_report" class="button">Upload Report</a>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
<div class="button-container">
    <a href="/login" class="button">Login</a>
    <a href="/signup" class="button">Sign Up</a>
    <a href="/chatbot"class="button">Chatbot</a>
</div>
{% endif %}
</body>
</html>