{% extends 'master.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
    <main class="main-content">
        <h2 class="heading">Welcome to the Home Page</h2>
        
        {% csrf_token %}
        
        {% if user.is_authenticated %}
            <div class="user-info">
                {% if user.is_doctor %}
                    <p class="user-role">Doctor</p>
                {% endif %}
                <p class="greeting">Hello, {{ user.username }}!</p>
            </div>
        {% endif %}
    </main>
{% endblock %}
