{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'output.css' %}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
<body>

  <div class="logincontainer">
    <img src="{% static 'logo1.png' %}" alt="logo" class="icon">
    <h2 class="headingText">Sign Up</h2>

    <form action="" method="post" class="loginForm">
      {% csrf_token %}

      <div >
        <input type="text" name="username" placeholder="Username" class="formfield">
      </div>

      <div>
        <input type="email" name="email" placeholder="Email" class="formfield">
      </div>

      <div>
        <input type="password" name="password1" placeholder="••••••••••••" class="formfield">
      </div>

      <div ">
        <input type="password" name="password2" placeholder="••••••••••••" class="formfield"
      </div>
    </form>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <p>Already have an account? <a href="/login" class="text-green-400">Log in</a></p>

  </div>

</body>
</html>
